<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My express app</title>
    <link href="./css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body data-new-gr-c-s-check-loaded="14.1018.0" data-gr-ext-installed="">
    <%- include('partials/navigation') %>
    <%- body %>
    <script src="./js/bootstrap.js" type="text/javascript"></script>
</body>

</html>